nav {
  background-color: var(--blue-lowSat-L30);
  height: var(--nav-height);
  width: 100%;
  font-size: 2rem;
  
  padding: 0.6rem 1.2rem;
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
nav a {
  padding: 0 0.2rem;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  gap: 0.5rem;
  font-size: 1.2rem;
}
nav ul .active {
  background-color: var(--blue-lowSat-L60);
}
nav a:hover {
  color: var(--blue-L30);
  background-color: var(--blue-L95);
}