@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --color-primary: #121417;
  --color-secondary: #bfc3c8;
  --color-highlight: #32364a;
  --color-highlight2: #52668a;

  font-size: 16px;
  font-family: 'Roboto', sans-serif;

  --nav-height: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;

  background-color: var(--color-primary);
  color: var(--color-secondary);
}

main {
  margin-top: var(--nav-height);
}